<h1>{{title}}</h1>
<p>{{title}}</p>
{{#each trackers}}
  <div data-cy="name">Ticker: {{tickername}}</div>
  <div data-cy="price">Price: {{price}}</div>
{{/each}}

<form action="/asset/new" method="post" target="_blank">
  <input type="text" id="trackerSymbol" name="tickername">
  <label for="trackerSymbol">Enter Tracker:</label>
  <input type="submit" value="Create Tracker">
</form>
